@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  color: rgb(15 23 42);
  background: rgb(248 250 252);
}

input,
textarea,
select {
  border-color: transparent !important;
}

* {
  box-sizing: border-box;
}
